<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <% let titlePage = "Tambah Data 1" %>
    <title><%= titlePage %></title>
</head>
<body style="background-color: #f4f4f4;">

    <%- include('layouts/header'); %>

    <div class="container container-sm mt-5 pt-5">
        <div class="container container-sm mt-5">

            <div class="card shadow">
                <div class="card-header">
                    <h4 class="text-center">Tambah Data 1</h4>
                </div>
                <div class="card-body">
                    <div class="row g-3 mb-3">
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com">
                                <label for="floatingInputValue">Input 1</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com">
                                <label for="floatingInputValue">Input 2</label>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com">
                                <label for="floatingInputValue">Input 3</label>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com">
                                <label for="floatingInputValue">Input 4</label>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com">
                                <label for="floatingInputValue">Input 5</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="button" class="btn btn-sm btn-outline-success">Simpan</button>
                    <button type="button" id="btnKembali" class="btn btn-sm btn-outline-danger">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Mengambil referensi tombol
        const btnKembali = document.getElementById('btnKembali');
      
        // Menambahkan event listener saat tombol diklik
        btnKembali.addEventListener('click', () => {
            // Kembali ke halaman sebelumnya dalam riwayat perambanan
            window.location.href ='/data/data_1';
        });
      </script>
    
</body>
</html>